<div class="container mt-5">
<h2 class="mt-5">Edit my profile</h2>

<div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field my-3">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>We are waiting confirmation of : <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field my-3">
    <%= f.label "Password" %> <i>(don't fill if unchanged)</i><br />
    <%= f.password_field :password, autocomplete: "new password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> minimum characters</em>
    <% end %>
  </div>

  <div class="field my-3">
    <%= f.label "Confirmation" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new password" %>
  </div>

  <div class="field my-3">
    <%= f.label "Actual password" %> <i>(necessary to confirm changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "actual password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
</div>

<div>
<h3 class="mt-5">Delete my account</h3>

<p>Already leaving? <%= button_to "Delete", registration_path(resource_name), data: { confirm: "Are you sure ?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</div>
