<div class="mt-lg-5 mt-1 mb-3 pt-0">
  <div class="col-12 d-flex align-items-center justify-content-center">
    <div class="col-lg-4 col-12 box-shadow-2 p-0">
      <div class="card border-grey border-lighten-3 m-0">
        <div class="card-header border-0">
          <div class="text-center mb-1">
            <h3>Create a new event</h3>        
          </div>
        </div>
        <div class="card-content">
          <div class="card-body">
            <%= form_for(:events,  url:(events_path), action: 'create', method: :post) do |f| %>

              <div class="field">
                <%= f.hidden_field :admin_id, :value => current_user.id %>
              </div><br />

              <fieldset class="form-group position-relative">
                <%= f.label :title %><br />
                <%= f.text_field :title, autofocus: true, autocomplete: "title", class: "form-control" %>
              </fieldset>

              <fieldset class="form-group position-relative">
                <%= f.label :description %>
                <%= f.text_area :description, autocomplete: "description", class: "form-control" %>
              </fieldset>

              <fieldset class="form-group position-relative">
                <%= f.label :location %>
                <%= f.text_field :location, autocomplete: "location", class: "form-control" %>
              </fieldset>

              <fieldset class="form-group position-relative">
                <%= f.label :start_date %>
                <%= f.datetime_field :start_date, autocomplete: "start_date", class: "form-control" %>
              </fieldset>

              <fieldset class="form-group position-relative">
                <%= f.label "Duration (in minutes)" %>
                <%= f.text_field :duration, autocomplete: "start_date", placeholder: "It must be a multiple of 5", class: "form-control" %>
              </fieldset>

              <fieldset class="form-group position-relative">
                <%= f.label :price %>
                <%= f.number_field :price, autocomplete: "price", class: "form-control" %>
              </fieldset>

              <fieldset class="form-group position-relative">
                <%= f.label :picture %><br>
                <%= f.file_field :picture, autocomplete: "picture" %>
              </fieldset>
                 

              <div class="form-group ">
                <div class="row justify-content-center">
                  <div class="col-12">
                    <%= f.submit "Register", class: "col-12 btn btn-primary mr-1 mb-1" %>
                  </div>
                </div>
              </div>
              <hr>
              <div class="text-center">
                <div class="col-12 float-sm-left text-center pt-2 mb-2">
                  <a class="card-link" href="<%= root_path%>">Back</a>
                </div>
              </div>
            <% end %>       
          </div>
        </div>
      </div>
    </div>
  </div>
</div>