<div class="card">
  <div class="card-header row mr-0">
    <ul class="navbar-nav nav-left header-left">
      Event no. <%= @event.id %>
    </ul>
    <ul class="navbar-nav">
      <%if current_user != @event.admin%>
        <% if @event.guests.include?(current_user) %>
            <%=link_to "Leave this event", attendance_path, class: "btn btn-outline-primary btn-sm", data_confirm:"Are you sure you want to leave ?", data_method:"DELETE" %>
        <%else%>
          <%=link_to "Attend event", new_attendance_path(id: @event.id), class: "btn btn-outline-primary btn-sm" %>
        <%end%>
      <%end%>      
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @event.title %></h5>
    <p class="card-text">Already <%= @event.guests.count %> attendees !</p>
    <p class="card-text">Price : <%= @event.price %> € VAT excl.</p>
    <p class="card-text">Location : <%= @event.location %></p>
    <p class="card-text">Start date : <%= @event.start_date.strftime("%d/%m/%Y %H:%M") %></p>
    <p class="card-text">End date : <%= @event.end_date.strftime("%d/%m/%Y %H:%M") %></p>
    <p class="card-text">Event's description : <%= @event.description %></p>
    </div>
</div>
<div class="container-fluid text-center">
  <p>Contact admin here : <%=@event.admin.email %></p>
</div>


 
      
